.authTitle {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  background: linear-gradient(68deg, #5d47e8 35.45%, #2186e8 55.45%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.authSubTitle {
  color: var(--color-neutral-500);
  text-align: center;
}
